<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='MTG.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='MTG.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>MTG Artists</title>
</head>

<body>
    <h1>All Artists Contained</h1>

    <p><button id="artists_button">Get Artists</button></p>

    <p><table id="results_table"></table></p>

  </body>
</html>
